<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Music Catalog</title>
    <script src="https://kit.fontawesome.com/801e5a8a65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
   <script src="/js/shoppingCart.js"></script>
</head>
<div id="mySidebar" class="sidebar">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
   <h3>Shopping Cart</h3>
   <div class="cart" id="cart">
   </div>
   <div class="total" id="total">
   </div>
</div>

<body style="background-color:aliceblue;" id="main">
	<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/user/index">Music Website</a>
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	<li class="nav-item"><a class="nav-link" aria-current="page" href="/user/search_page">Search</a></li> 
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/account">Profile</a></li>
	      	
	      	<li class="nav-item"><a class="nav-link bi bi-cart openbtn" aria-current="page" onclick="openNav()">Cart</a></li>
	      	<li class="nav-item"><a class="nav-link" aria-current="page" onclick="clearCart()"href="/logout">Logout</a></li>
	      </ul>
	      
	  </div>
	</nav>
   </header>
   <br><br>	
	<div class="d-flex justify-content-center">
		<div class="w-75 p-3">
			<div class="center">
			   <h1 class="display-3">Account Settings</h1>
				<div class="jumbotron">
               <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
                    <a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false">Orders</a>
                  </div>
               </nav><br>
               <div class="tab-content" id="nav-tabContent">
                  
                  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                     <h3>Your Info</h3>
                     <h2><span class="text-success" th:utext="${message}"></span></h2>
                  <br>
                     <form th:action="@{/user/updateAccountInfo}" method="post" class="w-25 mx-auto">
                        <div class="input-group mb-3">
                           <div class="input-group-prepend">
                             <div class="input-group-text">First Name:</div>
                           </div>
                          <input type="text" name="name" id="name" th:value="${user?.name}" placeholder="First Name:" required>
                        </div><br>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend">
                             <div class="input-group-text">Last Name:</div>
                           </div>
                           <input type="text" name ="last_name" id="last_name" th:value ="${user?.lastName}" placeholder="Last Name" required>
                        </div><br>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend">
                             <div class="input-group-text">Email:</div>
                           </div>
                           <input type="email" name="email" id="email" th:value="${user?.email}" placeholder="Enter Email" required>
                        </div><br>
                        <input type="submit" value="Update Info">
                     </form>
                     <hr>
                     <h3>Change Password</h3>
                     <h2><span class="text-success" th:utext="${message2}"></span></h2>
                     <br>
                     <form th:action="@{/user/updateAccountPassword}" method="post" class="w-25 mx-auto">
                        <div class="input-group mb-2">
                           <div class="input-group-prepend">
                             <div class="input-group-text">Password:</div>
                           </div>
                          <input type="text" name="password" id="password" placeholder="Enter New Password" required>
                        </div><br>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend">
                             <div class="input-group-text">Confirm Password:</div>
                             <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                           </div>
                           
                        </div><br>
                        <input type="submit" value="Update Password">
                     </form>
                  </div>
                  <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
                     <h5>Order Tab</h5>
                     <!-- This is my code -->
                     
                     
                     <table class="table table-info table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> Order ID</th>
				                <!-- <th> User ID</th> -->
				                <th> Order Date</th>
				                <th> Order Songs</th>
                            <th> Order Albums</th>
                            <th> Order Price</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="orders, iStat : ${orders}" >
				            <td th:text="${orders.id}" >
				            <!-- <td th:text="${orders.user.id}" /> -->
				            <td th:text="${orders.orderDate}" >
				            <td th:text="${orders.songs}" >
                        <td th:text="${orders.albums}" >
                        <td th:text="${orders.price}" >
				        </tbody>
				    </table>
				    
				    
				    
                  </div>
                </div>
				</div>
			</div>
		</div>
	</div>
   <script src="https://kit.fontawesome.com/801e5a8a65.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>