<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
   <script src="/js/shoppingCart.js"></script>
    <style>
		.center {
	  		text-align: center;
	  	}
	  	
	</style>
</head>

<body style="background-color:aliceblue;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/user/index">Music Website</a>
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	<li class="nav-item"><a class="nav-link" aria-current="page" onclick="clearCart()"href="/logout">Logout</a></li>
	      </ul>
	      
	  </div>
	</nav>
	<br><br>
	<div class="d-flex justify-content-center">
		<div class="w-75 p-3">
			<div class="center">
    		<h1 class="display-3">Administration Page</h1>
				<div class="jumbotron">
				    <h1 class="display-4">Songs:</h1>
				    <table class="table table-info table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> ID</th>
				                <th> Song Name</th>
				                <th> Album Name</th>
				                <th> Genre </th>
				                <th> Track Number</th>
				                <th > Price</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="music, iStat : ${music}" >
				            <td th:text="${music.id}" />
				            <td th:text="${music.name}" />
				            <td th:text="${music.album.name}" />
				            <td th:text="${music.genre.name}" />
				            <td th:text="${music.trackNumber}" />
				            <td th:text="${music.price}" />
				        </tr>
				        </tbody>
				    </table>
				    <h2 style="color: mediumseagreen"><span th:utext="${songStatusMessage}"></span></h2>
				    <p class="lead">Edit Song</p>
				    <form method="get" action="/editMusic" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="editSongID" placeholder="ID of Song to be Edited..." id="editSongID" required>					    	
					    </div>
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-music"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="editSongName" placeholder="Song Name..." id="editSongName" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-grip-lines"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="editTrackNumber" placeholder="Track Number..." id="editTrackNumber" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-hand-holding-usd"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="editSongPrice" placeholder="Price..." id="editSongPrice" required>					    	
					    </div>
					    <input type="submit" value="Edit" class="btn btn-info"/>
				    </form>
				    <br>
				    <p class="lead">Add Song</p>
				    <form method="get" action="/addMusic" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="addSongID" placeholder="Song ID..." id="addSongID" required>					    	
					    </div>
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-music"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="addSongName" placeholder="Song Name..." id="addSongName" required>					    						    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-compact-disc"></i></span></div>
					        </div>
					        <select class="custom-select" id="addSongAlbum" name="addSongAlbum">
							    <option th:each="i : ${album}" th:value="${i.name}" th:text="${i.name}"></option>
							</select>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-grip-lines"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="addTrackNumber" placeholder="Track Number..." id="addTrackNumber" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-hand-holding-usd"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="addSongPrice" placeholder="Price..." id="addSongPrice" required>					    	
					    </div>
					    <input type="submit" value="Add" class="btn btn-info"/>
				    </form>
				    <br>
				    <p class="lead">Delete Song</p>
				    <form method="get" action="/deleteSong" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="deleteSong" placeholder="Song ID..." id="deleteSong" required>					    	
					    	<input type="submit" value="Delete" class="btn btn-danger"/>
					    </div>
					</form>
					<br>
				    
				    <h1 class="display-4">Albums:</h1>
				    
				    <table class="table table-info table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> ID</th>				                
				                <th> Album Name</th>
				                <th> Artist Name</th>
				                <th> Genre </th>
				                <th> Release Date</th>
				                <th > Price</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="album, iStat : ${album}" >
				            <td th:text="${album.id}" />
				            <td th:text="${album.name}" />
				            <td th:text="${album.artist}" />
				            <td th:text="${album.genre.name}" />
				            <td th:text="${album.releaseDate}" />
				            <td th:text="${album.price}" />
				        </tr>
				        </tbody>
				    </table>
				    <h2 style="color: mediumseagreen"><span th:utext="${albumStatusMessage}"></span></h2>
				    <p class="lead">Edit Album</p>
				    <form method="get" action="/editAlbum" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="editAlbumID" placeholder="ID of Album to be Edited..." id="editAlbumID" required>					    	
					    </div>
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-compact-disc"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="editAlbumName" placeholder="Album Name..." id="editAlbumName" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-calendar"></i></span></div>
					        </div>
					    	<input type="date" class="form-control" name="editAlbumDate" placeholder="Album Date..." id="editAlbumDate" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-hand-holding-usd"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="editAlbumPrice" placeholder="Price..." id="editAlbumPrice" required>					    	
					    </div>
					    <input type="submit" value="Edit" class="btn btn-info"/>
				    </form>
				    <br>
				    <p class="lead">Add Album</p>
				    <form method="get" action="/addAlbum" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="addAlbumID" placeholder="Album ID..." id="addAlbumID" required>					    	
					    </div>
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-compact-disc"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="addAlbumName" placeholder="Album Name..." id="addAlbumName" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-microphone"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="addArtistName" placeholder="Artist Name..." id="addArtistName" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-compact-disc"></i></span></div>
					        </div>
					        <select class="custom-select" id="addAlbumGenre" name="addAlbumGenre">
							    <option th:each="i : ${genre}" th:value="${i.name}" th:text="${i.name}"></option>
							</select>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-calendar"></i></span></div>
					        </div>
					    	<input type="date" class="form-control" name="addAlbumDate" placeholder="Album Date..." id="addAlbumDate" required>					    	
					    </div>
					    <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-hand-holding-usd"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="addAlbumPrice" placeholder="Price..." id="addAlbumPrice" required>					    	
					    </div>
					    <input type="submit" value="Add" class="btn btn-info"/>
				    </form>
				    <br>
				    <p class="lead">Delete Album</p>
				    <form method="get" action="/deleteAlbum" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="deleteAlbum" placeholder="Album ID..." id="deleteAlbum" required>					    	
					    	<input type="submit" value="Delete" class="btn btn-danger"/>
					    </div>
					</form>
					<br>
				    <br>
				    
				    <h1 class="display-4">Genres:</h1>
				    
				    <table class="table table-info table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> ID</th>				                
				                <th> Genre Name</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="genre, iStat : ${genre}" >
				            <td th:text="${genre.id}" />
				            <td th:text="${genre.name}" />
				        </tr>
				        </tbody>
				    </table>
				    <h2 style="color: mediumseagreen"><span th:utext="${genreStatusMessage}"></span></h2>
				    <p class="lead">Add Genre</p>
				    <form method="get" action="/addGenre" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-record-vinyl"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="addGenre" placeholder="Add Genre..." id="addGenre" required>					    	
					    	<input type="submit" value="Add" class="btn btn-info"/>
					    	
					    </div>
				    </form>
				    <p class="lead">Delete Genre</p>
				    <form method="get" action="/deleteGenre" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-trash-alt"></i></span></div>
					        </div>
					    	<input type="text" class="form-control" name="deleteGenre" placeholder="Delete Genre..." id="deleteGenre" required>					    	
					    	<input type="submit" value="Delete" class="btn btn-danger"/>
					    	
					    </div>
				    </form>
				    <br>
				    
				    <h1 class="display-4">Users:</h1>
				    
				    <table class="table table-info table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> ID</th>				                
				                <th> Username</th>
				                <th> Email</th>
				                <th> Password </th>
				                <th> First Name</th>
				                <th> Last Name</th>
				                <th > Active</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="user, iStat : ${user}" >
				            <td th:text="${user.id}" />
				            <td th:text="${user.userName}" />
				            <td th:text="${user.email}" />
				            <td th:text="${user.password}" />
				            <td th:text="${user.name}" />
				            <td th:text="${user.lastName}" />
				            <td th:text="${user.active}" />
				        </tr>
				        </tbody>
				    </table>
				    <h2 style="color: mediumseagreen"><span th:utext="${userStatusMessage}"></span></h2>
				    <p class="lead">Edit User</p>
				    <form method="get" action="/editUserActive" class="w-50 mx-auto">
						<div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text"><span class="input-group-addon"><i class="fab fa-slack-hash"></i></span></div>
					        </div>
					    	<input type="number" class="form-control" name="editActive" placeholder="ID of User to be Edited..." id="editActive" required>					    	
					    	<input type="submit" value="Inactive" class="btn btn-danger"/>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
<script src="https://kit.fontawesome.com/801e5a8a65.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>