<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Music Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
</head>
<body style="background-color:aliceblue;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/user/index">Music Website</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/admin">Admin</a></li>
             <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/search_page">Search</a></li> 
             <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/account">Profile</a></li>
             <li class="nav-item"><a class="nav-link bi bi-cart openbtn" aria-current="page" onclick="openNav()">Cart</a></li>
             <li class="nav-item"><a class="nav-link" aria-current="page" onclick="clearCart()"href="/logout">Logout</a></li>
          </ul>
      </div>
    </nav>
    <div class="d-flex justify-content-center" >
		<div class="w-75 p-3">
			<div class="jumbotron" >
            <th:black th:each="track:${tracks}" >
               <div class="card w-75">
                  <div class="card-body">
                     <h5 class="card-title" th:text="${track.name}">Card title</h5>
                     <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-primary">Button</a>
                  </div>
               </div>
            </div>
         </div>  
      </div>
   </div>
</body>
</html>