<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Music Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
   <script src="/js/shoppingCart.js"></script>
</head>

<div id="mySidebar" class="sidebar">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
   <h3>Shopping Cart</h3>
</div>
<body style="background-color:aliceblue;" id="main">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/user/index">Music Website</a>
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	<li class="nav-item"><a class="nav-link" aria-current="page" href="/user/admin">Admin</a></li>
	      	<li class="nav-item"><a class="nav-link" aria-current="page" href="/user/search_page">Search</a></li> 
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/account">Profile</a></li>
	      	
	      	<li class="nav-item"><a class="nav-link bi bi-cart openbtn" aria-current="page" onclick="openNav()">Cart</a></li>
	      </ul>
	      
	  </div>
	</nav>
	<br><br>
	<div class="d-flex justify-content-center" >
		<div class="w-75 p-3">
			<!-- <div class="center"> -->
				<div class="jumbotron" >

					<p class="lead" style="text-justify;">New Releases</p>
               <!--Holds All the Cards for albums-->
					<div class="container-fluid" >
					    <div class="row flex-nowrap justify-content-start">
                     <!--Iterates through the list of albums-->
					    	<th:block th:each="album, iStat: ${newAlbums}">
                        <!--Indivual cards themselves-->
					    		<div class="col-md-auto">
					    			<div class="card" th:id="${album.id}" onclick=albumOnClick(id)>
					    				<div class="card-body  text-wrap">
											<h5 class="card-title" th:text="${album.Name}"></h5>

											<a href="#" class="stretched-link" data-toggle="modal"  data-target="#albumModalCenter"></a>

										</div>
									</div>
								</div>
								
					    	</th:block>
                      <!--Extra card to see all albums-->
					    		<div class="card" style="min-width:200px;">
							    	<div class="card-body text-wrap" style="min-width:200px">
										<h5 class="card-title">See All Albums</h5>
										<a href="./allalbums?criterion=&value=" class="stretched-link"></a>
									</div>
								</div>

					    		<div class="modal fade " id="albumModalCenter" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="albumModalCenterTitle" >
								  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
								    <div class="modal-content">
								      <div class="modal-body">
								        <div id="include"></div>
								      </div>
								      <div class="modal-footer">
                                 <button type="button" class="btn btn-primary">Add Album to Cart</button>
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								      </div>
								    </div>
								  </div>
								</div>
    					</div>
					</div>
					<p class="lead" style="text-justify;">Browse By Genre</p>
					<div class="container-fluid" >
					    <div class="row flex-nowrap justify-content-start" style="">
					    	<th:block th:each="genre, iStat: ${genres}">

					    		<div class="col-md-auto">
					    			<div class="card" th:id="'genre'+${genre.id}">
					    				<div class="card-body  text-wrap">
											<h5 class="card-title" th:text="${genre.Name}"></h5>

											<a th:href="'./allalbums?criterion=genre&value='+${genre.Id}" class="stretched-link"></a>

										</div>
										
									</div>
								</div>
					    	</th:block>
    					</div>
					</div>	
					<p class="lead" style="text-justify;">Browse By Artist</p>
					<div class="container-fluid" >
					    <div class="row flex-nowrap justify-content-start" style="">
					    	<th:block th:each="artist, iStat: ${artists}">

					    		<div class="col-md-auto">
					    			<div class="card" th:id="'artist'+${iStat}">
					    				<div class="card-body  text-wrap">
											<h5 class="card-title" th:text="${artist}"></h5>

											<a th:href="'./allalbums?criterion=artist&value='+${artist}" class="stretched-link"></a>

										</div>
										
									</div>
								</div>
					    	</th:block>
    					</div>
					</div>	
				</div>	
<!-- 			</div> -->         
		</div>
	</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script> 
        	var clickedAlbum;
			function albumOnClick(id){
				clickedAlbum = id;
				console.log(clickedAlbum);
/* 				$("#include").load(); */
				xhr=new XMLHttpRequest();
				xhr.open("GET", "./album/"+clickedAlbum, true); 
				xhr.send(); 
				xhr.onreadystatechange=function(){
					if(xhr.readyState==4 && xhr.status==200){
						document.getElementById("include").innerHTML = xhr.responseText; 
						} 
				} 
			}
			$(function(){ 
                 
            }); 
            
          </script>
</body>
</html>