<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Catalog</title>
    <script src="https://kit.fontawesome.com/801e5a8a65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<style>
		.center {
	  		text-align: center;
	  	}
	  	
	</style>
</head>

<div id="mySidebar" class="sidebar">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
   <h3>Shopping Cart</h3>
   <div class="cart" id="cart">
   </div>
   <div class="total" id="total">
   </div>
</div>

<body style="background-color:aliceblue;" id="main">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/user/index">Music Website</a>
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	
	      	<li class="nav-item"><a class="nav-link" aria-current="page" href="/user/search_page">Search</a></li> 
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/user/account">Profile</a></li>
	      	
	      	<li class="nav-item"><a class="nav-link bi bi-cart openbtn" aria-current="page" onclick="openNav()">Cart</a></li>
	      	<li class="nav-item"><a class="nav-link" aria-current="page" onclick="clearCart()"href="/logout">Logout</a></li>
	      </ul>
	      
	  </div>
	</nav>
	<br><br>	
	<div class="d-flex justify-content-center">
		<div class="w-75 p-3">
			<div class="center">
			
			<h1 class="display-3">Search</h1>
				<div class="jumbotron">
					<p class="lead">Search through all of our music tracks here: </p>
						<form method="get" action="search" class="w-50 mx-auto">
							<div class="input-group mb-2">
						        <div class="input-group-prepend">
						          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-search"></i></span></div>
						        </div>
						    	<input type="text" class="form-control" name="search" placeholder="Search..." id="search" required>
						    </div>
						    <div class="input-group mb-2">
						        <div class="input-group-prepend">
						          <div class="input-group-text">Genre:</div>
						        </div>
							    <select class="custom-select" id="genre" name="genre">
								    <option th:each="i : ${genre}" th:value="${i.name}" th:text="${i.name}"></option>
								</select>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
						          <div class="input-group-text">Min Price:</div>
						        </div>
							  	<input type="number" id="rangemin" name="rangemin" value="0"/>
							  	<div class="input-group-prepend">
						          <div class="input-group-text">Max Price:</div>
						        </div>
							  	<input type="number" id="rangemax" name="rangemax" value="0"/>							  
							</div>
							<br><br>
							<input type="submit" value="Enter" class="btn btn-secondary mb-2"/>
							<a class="btn btn-info mb-2" href="/user/search_page" role="button">Reset</a>
						</form>
					<br><br>
				    <table class="table table-dark table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> Song Name</th>
				                <th> Album Name</th>
				                <th> Genre </th>
				                <th> Track Number</th>
				                <th > Price</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="music, iStat : ${music}" >
				            <td th:text="${music.name}" />
				            <td th:text="${music.album.name}" />
				            <td th:text="${music.genre.name}" />
				            <td th:text="${music.trackNumber}" />
				            <td th:text="${music.price}" />
				        </tr>
				        </tbody>
				    </table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>