<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/801e5a8a65.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
		.center {
	  		text-align: center;
	  	}
	  	
	</style>
</head>
<body style="background-image:url('https://hclcapstoneimages.s3.us-east-2.amazonaws.com/capstoneimages/loginbackground.jpg');">
<form th:action="@{/}" method="get" id="loginform">
    
</form>

<div class="d-flex justify-content-center">
	<div class="w-50 p-3">
		<div class="center">
		
			<div class="jumbotron">
			<h1 class="display-4">Register</h1>
			<br/>
	            <form autocomplete="off" action="#" th:action="@{/registration}"
	                  th:object="${user}" method="post" class="w-50 mx-auto"
	                  role="form">
	                
					<div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-signature"></i></span></div>
				        </div>
                        
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/> 

				    </div>
                     <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
				    
				    <div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-arrow-alt-circle-right"></i></span></div>
				        </div>
                        
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control"/>
				    </div>
				    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                               
	                <div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-envelope"></i></span></div>
				        </div>
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control"/> 
				    </div>
	                <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                            
	                <div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-user"></i></span></div>
				        </div>
                        <input type="text" th:field="*{userName}" placeholder="User Name"
                               class="form-control"/> 
				    </div>
	                <label
                            th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                            class="validation-message"></label>
                            
	                <div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-lock"></i></span></div>
				        </div>
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/>            
				    </div>
				    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>				    
	               	<br>
	                <div class="form-group">
	                    <div>
	                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
	                    </div>
	                </div>
	                <button class="btn btn-md btn-dark btn-block" form="loginform" type="Submit">Login</button>
	            </form>			            
			</div>
			<h2><span class="text-success" th:utext="${successMessage}"></span></h2>
		</div>
	</div>
</div>
</body>
</html>