<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Catalog</title>
    <link rel="stylesheet" href="styles.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/801e5a8a65.js" crossorigin="anonymous"></script>
	<style>
		.center {
	  		text-align: center;
	  	}
	  	
	</style>
</head>
<body style="background-color:aliceblue;">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/">Music Website</a>
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	<li><a class="nav-link active" aria-current="page" href="/search_page">Search</a></li> 
	      	<li><a class="nav-link active" aria-current="page" href="/music_catalog">Music Catalog</a></li>
	      	<li><a class="nav-link active" aria-current="page" href="/shopping_cart">Shopping Cart</a></li>
	      </ul>
	      
	  </div>
	</nav>
	<br><br>	
	<div class="d-flex justify-content-center">
		<div class="w-75 p-3">
			<div class="center">
			<h1 class="display-3">Search</h1>
				<div class="jumbotron">
					<p class="lead">Search through all of our music tracks here: </p>
						<form method="get" action="search" class="w-50 mx-auto">
							<div class="input-group mb-2">
						        <div class="input-group-prepend">
						          <div class="input-group-text"><span class="input-group-addon"><i class="fas fa-search"></i></span></div>
						        </div>
						    	<input type="text" class="form-control" name="search" placeholder="Search..." id="search" required>
						    </div>
						    <div class="input-group mb-2">
						        <div class="input-group-prepend">
						          <div class="input-group-text">Genre:</div>
						        </div>
							    <select class="custom-select" id="genre" name="genre">
								   
								    <option value="Country">Country</option>
								    <option value="Pop">Pop</option>
								    <option value="Rock">Rock</option>
								</select>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
						          <div class="input-group-text">Min Price:</div>
						        </div>
							  	<input type="number" id="rangemin" name="rangemin" value="0"/>
							  	<div class="input-group-prepend">
						          <div class="input-group-text">Max Price:</div>
						        </div>
							  	<input type="number" id="rangemax" name="rangemax" value="0"/>							  
							</div>
							<br><br>
							<input type="submit" value="Enter" class="btn btn-secondary mb-2"/>
							<a class="btn btn-info mb-2" href="/search_page" role="button">Reset</a>
						</form>
					<br><br>
				    <table class="table table-dark table-striped table-bordered table-hover mx-auto">
				        <thead>
				            <tr>
				                <th> Song Name</th>
				                <th> Album Name</th>
				                <th> Genre </th>
				                <th> Track Number</th>
				                <th > Price</th>
				            </tr>
				        </thead>
				    <tbody>
				        <tr th:each="music, iStat : ${music}" >
				            <td th:text="${music.name}" />
				            <td th:text="${music.album.name}" />
				            <td th:text="${music.genre.name}" />
				            <td th:text="${music.trackNumber}" />
				            <td th:text="${music.price}" />
				        </tr>
				        </tbody>
				    </table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>